<!DOCTYPE html>
<html>
<head>
    <title>Image Entries</title>
</head>
<body>
    <h1>Image Entries</h1>
    <a href="{% url 'image_create' %}">Add New Entry</a>
    <ul>
        {% for image in images %}
            <li>
                <h2>{{ image.title }}</h2>
                <img src="{{ image.image.url }}" alt="{{ image.title }}" width="100" height="100">
                <p>{{ image.description }}</p>
                <p>Materials: {{ image.materials }}</p>
                <p>Date: {{ image.date }}</p>
                <p>Author: {{ image.author }}</p>
                <a href="{% url 'image_update' image.pk %}">Edit</a>
                <a href="{% url 'image_delete' image.pk %}">Delete</a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>

